
/* .appContainer{
display: flex;
justify-content: center;

border: 1px solid #bc2727;
}

form{
    width: 100%;
    
  padding: 20px;
  background-color: rgb(188, 171, 171); 
  margin: 20px;
  justify-content: center;
  display: block;
  text-align: center;
 

}
input{
    margin: 5px;
}
label{
    color: aliceblue;
} */